// @import '@/uni_modules/lime-ui/style/index.scss';
$text-color-4: rgba(0,0,0,0.25) !default;
$font-size: 28rpx !default;
$line-height: 50px !default;

/* #ifndef APP-NVUE */
$l-waterfall-text-color: var(--l-waterfall-text-color, $text-color-4);
$l-waterfall-font-size: var(--l-waterfall-font-size, $font-size);
$l-waterfall-line-height: var(--l-waterfall-line-height, $line-height);
/* #endif */

/* #ifdef APP-NVUE */
$l-waterfall-text-color: $text-color-4;
$l-waterfall-font-size: $font-size;
$l-waterfall-line-height: $line-height;
/* #endif */

.l-waterfall {
/* #ifdef APP-NVUE */
	&-wrapper {
		flex: 1
	}
/* #endif */
/* #ifndef APP-NVUE */
	&-list {
		display: flex;
		align-items: flex-start;
	}

	&__column {
			display: flex;
			flex: 1 1 0%;
			flex-direction: column;
			overflow: hidden;
		}

	&__row {
			&.hapi {
				animation: 1s hapi-animation linear;
				animation-fill-mode: forwards;
			}

			@keyframes hapi-animation {
				from {
					opacity: 0;
					transform-origin: 50% 50%;
					transform: scale(0);
				}

				to {
					opacity: 1;
					transform-origin: 50% 50%;
					transform: scale(1);
				}
			}

			&.osiris {
				animation: 1s osiris-animation linear;
				animation-fill-mode: forwards;
			}

			@keyframes osiris-animation {
				from {
					opacity: 0;
					transform-origin: 50% 50%;
					transform: translateZ(-3000px) rotateY(-1turn);
				}

				to {
					opacity: 1;
					transform-origin: 50% 50%;
					transform: translateZ(0) rotateY(0turn);
				}
			}
	}
/* #endif */
	&__loading, &__finished, &__error {
		text-align: center;
		color: $l-waterfall-text-color;
		font-size: $l-waterfall-font-size;
		line-height: $l-waterfall-line-height;
		text-align: center;
		&-text {
			color: $l-waterfall-text-color;
			font-size: $l-waterfall-font-size;
			text-align: center;
		}
	}
}